force-app/main/default/flows/Account_Bithday_Email_sent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Action_1</name>
        <label>Send Email Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>birthday_email_sent</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>bi</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>LP01_Loop_over_accounts.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>birthday_email_sent</name>
        <label>birthday email sent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>LP01_Loop_over_accounts.Last_Bday_email_sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountRecordCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LP01_Loop_over_accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LP01_Loop_over_accounts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DC01_should_email_sent</name>
        <label>DC01: should email sent ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>birthday_email_sent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Normal_Birthday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsBirthdayToday</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsFeb29DOB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Action_1</targetReference>
            </connector>
            <label>Normal Birthday</label>
        </rules>
        <rules>
            <name>LeapYearBirtday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isLeapYear</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsFeb29DOB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentMonth</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CurrentDay</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>29.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>birthday_email_sent</targetReference>
            </connector>
            <label>LeapYearBirtday</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDay</name>
        <dataType>Number</dataType>
        <expression>DAY($Flow.CurrentDate)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>currentMonth</name>
        <dataType>Number</dataType>
        <expression>DAY($Flow.CurrentDate)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>IsBirthdayToday</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  MONTH({!LP01_Loop_over_accounts.Date_Of_Birth__c}) = MONTH($Flow.CurrentDate),
  DAY({!LP01_Loop_over_accounts.Date_Of_Birth__c} )= DAY($Flow.CurrentDate)
)</expression>
    </formulas>
    <formulas>
        <name>IsFeb29DOB</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  MONTH({!LP01_Loop_over_accounts.Date_Of_Birth__c} ) = 2,
  DAY({!LP01_Loop_over_accounts.Date_Of_Birth__c} )   = 29
)</expression>
    </formulas>
    <formulas>
        <name>isLeapYear</name>
        <dataType>Boolean</dataType>
        <expression>MOD(YEAR(TODAY()), 4) = 0 &amp;&amp;
( MOD(YEAR(TODAY()), 100) &lt;&gt; 0 || MOD(YEAR(TODAY()), 400) = 0 )</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Account - Bithday Email sent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Bithday Email sent</label>
    <loops>
        <name>LP01_Loop_over_accounts</name>
        <label>LP01 : Loop over accounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>GR01_Get_Account_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>DC01_should_email_sent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UR01_Update_accoynt_record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GR01_Get_Account_Record</name>
        <label>GR01 : Get Account Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LP01_Loop_over_accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date_Of_Birth__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Account_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Last_Bday_email_sent__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UR01_Update_accoynt_record</name>
        <label>UR01 : Update accont record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varAccountRecordCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GR01_Get_Account_Record</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2026-02-10</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>varAccountRecordCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
