force-app/main/default/flows/Contact_Before_Title_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>CE00_Account_Is_required</name>
        <label>CE00 :Account Is required</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>Account is required when  lead source is &apos;phone enquiry&apos; &amp; Level is &apos;primary&apos;</errorMessage>
            <fieldSelection>AccountId</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
        <customErrorMessages>
            <errorMessage>Account is required when  lead source is &apos;phone enquiry&apos; &amp; Level is &apos;primary&apos;</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>DC01_Is_Account_id_is_null</name>
        <label>DC01 :- Is Account id is null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_account_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DC02_check_lead_source_is_phone_Level_is_primary</targetReference>
            </connector>
            <label>Is account is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>DC02_check_lead_source_is_phone_Level_is_primary</name>
        <label>DC02: check lead source is &apos;phone&apos; &amp; Level is &apos;primary&apos;</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>NO Error</defaultConnectorLabel>
        <rules>
            <name>Enquiry_is_phone_Level_is_primary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Level__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Phone Inquiry</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CE00_Account_Is_required</targetReference>
            </connector>
            <label>Enquiry is &apos;phone&apos; &amp; Level is &apos;primary&apos;</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Contact-Before-TitleUpdate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact-Before-Title Update/Account is required</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateContactTitle</name>
        <label>UpdateContactTitle</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DC01_Is_Account_id_is_null</targetReference>
        </connector>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>conatctTitle</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>UpdateContactTitle</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>conatctTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New Contact added </stringValue>
        </value>
    </variables>
</Flow>
