force-app/main/default/flows/LeadUpdateScreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_1</name>
        <label>HIg Value Assignment 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Hot</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>High</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Timeline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Timeline</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FromdueDtae1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FromdueDate2</name>
        <label>FromdueDate2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormDuedateMeadium</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateLeadRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FromdueDtae1</name>
        <label>FromdueDtae1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formduedateHIgh</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateLeadRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FromdueDtae3</name>
        <label>FromdueDtae3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varDueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FormDueDateLow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateLeadRecord</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Low_Assignment_3</name>
        <label>Low  Assignment 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cold</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Low</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Timeline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Timeline</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FromdueDtae3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Meadium_Assignment_2</name>
        <label>Meadium Assignment 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Lead.Rating</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Warm</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Low</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Budget</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Lead.Timeline__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Timeline</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FromdueDate2</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>High</name>
        <choiceText>High</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High</stringValue>
        </value>
    </choices>
    <choices>
        <name>Low</name>
        <choiceText>Low</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Low</stringValue>
        </value>
    </choices>
    <choices>
        <name>Meadium</name>
        <choiceText>Meadium</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Meadium</stringValue>
        </value>
    </choices>
    <choices>
        <name>Within_1_Month</name>
        <choiceText>Within 1 Month,</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Within 1 Month,</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_3_Months</name>
        <choiceText>1–3 Months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1–3 Months</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3_Months</name>
        <choiceText>3+ Months</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3+ Months</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Classify_Lead</name>
        <label>Classify Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Low_Assignment_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Low Values</defaultConnectorLabel>
        <rules>
            <name>High_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Budget</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>50000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assignment_1</targetReference>
            </connector>
            <label>High Value</label>
        </rules>
        <rules>
            <name>Medium_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Budget</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Meadium_Assignment_2</targetReference>
            </connector>
            <label>Medium Value</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formduedateHIgh</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 2</expression>
    </formulas>
    <formulas>
        <name>FormDueDateLow</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 7</expression>
    </formulas>
    <formulas>
        <name>FormDuedateMeadium</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 5</expression>
    </formulas>
    <interviewLabel>LeadUpdateScreenFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LeadUpdateScreenFlow1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Follow_up_Task</name>
        <label>Create Follow-up Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Lead.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Follow up with qualified lead</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Qualification_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateLeadRecord</name>
        <label>Update Lead Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Follow_up_Task</targetReference>
        </connector>
        <inputReference>Get_Lead</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Acknowlegment</name>
            <defaultValue>
                <stringValue>“Lead has been successfully qualified and a follow-up task has been created.”</stringValue>
            </defaultValue>
            <fieldText>Acknowlegment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Screen1</name>
            <defaultValue>
                <stringValue>Text: “Something went wrong. Please contact your admin.”</stringValue>
            </defaultValue>
            <fieldText>Error Screen</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Lead_Qualification_Details</name>
        <label>Lead Qualification Details</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Classify_Lead</targetReference>
        </connector>
        <fields>
            <name>Budget</name>
            <dataType>Currency</dataType>
            <fieldText>Budget</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Timeline</name>
            <choiceReferences>Within_1_Month</choiceReferences>
            <choiceReferences>X1_3_Months</choiceReferences>
            <choiceReferences>X3_Months</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Within_1_Month</defaultSelectedChoiceReference>
            <fieldText>Timeline</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Priority</name>
            <choiceReferences>High</choiceReferences>
            <choiceReferences>Meadium</choiceReferences>
            <choiceReferences>Low</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>High</defaultSelectedChoiceReference>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varBudget</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varDueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPriority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTimeline</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
