force-app/main/default/flows/Opportunity_Extend_Account_tean_as_Opp_Team.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Post_to_chatter</name>
        <label>Post to chatter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>DC00_Check_Accont_Team_Membaer_found</name>
        <label>DC00;- Check Accont Team Membaer found ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Account Team Members Not found</defaultConnectorLabel>
        <rules>
            <name>Account_Team_Members_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GR01_Get_Account_Team_Member</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TS00_Prepare_Opp_Team_Member_Records</targetReference>
            </connector>
            <label>Account Team Members found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Extend Account tean as Opp Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Extend Account tean as Opp Team</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CR00_Create_Opp_Team_Member</name>
        <label>CR00 :- Create Opp Team Member</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Post_to_chatter</targetReference>
        </faultConnector>
        <inputReference>TS00_Prepare_Opp_Team_Member_Records</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GR01_Get_Account_Team_Member</name>
        <label>GR01;- Get Account Team Member</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DC00_Check_Accont_Team_Membaer_found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Post_to_chatter</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GR01_Get_Account_Team_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <name>TS00_Prepare_Opp_Team_Member_Records</name>
        <label>TS00:- Prepare Opp Team Member Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CR00_Create_Opp_Team_Member</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>OpportunityTeamMember</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>UserId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GR01_Get_Account_Team_Member[$EachItem].UserId</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>TeamMemberRole</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GR01_Get_Account_Team_Member[$EachItem].TeamMemberRole</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>OpportunityId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>OpportunityAccessLevel</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>&quot;Read&quot;</formulaExpression>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
</Flow>
