force-app/main/default/flows/Opportunity_Priority_Automation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AC02_Post_the_error_to_chatter</name>
        <label>AC02: Post the error to chatter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>send_email_alert</name>
        <label>send email alert</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>High_Value_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>AC02_Post_the_error_to_chatter</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>$Record.Account.Owner.Email</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>$Record.Owner.Email</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>bccAddresses</name>
            <value>
                <collectionElements>
                    <stringValue>amardhoble.sfdc@gmail.com</stringValue>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>fmEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>&lt;p&gt;Dear {&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;!$Record.Owner.FirstName}&lt;/span&gt;,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A &lt;strong&gt;high valume&lt;/strong&gt; opportunity has been created for you. &lt;strong&gt;{!$Record.Account.Name}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please find below trhe key detailes.&lt;/p&gt;&lt;p&gt;   &lt;strong&gt;Name :- &lt;/strong&gt;&lt;em&gt;{!$Record.Name}&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;   Amount :- &lt;/strong&gt;{&lt;em&gt;!$Record.Amount}&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;   Close Date :-&lt;/strong&gt;&lt;em&gt;{!$Record.CloseDate}&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;   Decription :-&lt;/strong&gt;&lt;em&gt;{!$Record.Description}&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;   Stage :-&lt;/strong&gt;&lt;em&gt; {!$Record.StageName}&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thanx and regards.&lt;/p&gt;&lt;p&gt;{!$Organization.Name}&lt;/p&gt;&lt;p&gt;{!$Organization.Phone}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>HIgh_Priority_Opportunity</name>
        <label>HIgh Priority Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Follow_Up_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Risk_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High Value – Time Sensitive</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Normal_Priority</name>
        <label>Normal Priority</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Follow_Up_Required__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Low</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>High_Value_Opportunity</name>
        <label>High_Value_Opportunity?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Normal_Priority</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HIgh_Priority</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Days_to_close</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HIgh_Priority_Opportunity</targetReference>
            </connector>
            <label>HIgh Priority</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Days_to_close</name>
        <dataType>Number</dataType>
        <expression>{!$Record.CloseDate}-TODAY()</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fmEmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;A High Valume opportunity creation Email&quot; 
+&quot;Amount :-&quot; + TEXT({!$Record.Amount})</expression>
    </formulas>
    <interviewLabel>Opportunity_Priority_Automation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity_Priority_Automation3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>send_email_alert</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Amount</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>50000.0</numberValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
