force-app/main/default/flows/Order_Search_Order_and_Update_Address.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>DC01_Check_Order_Found</name>
        <label>DC01 : Check Order Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Order_Not_Found_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Order  Not Found</defaultConnectorLabel>
        <rules>
            <name>Order_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GR01_Get_Order_Record.OrderNumber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OrderInformation</targetReference>
            </connector>
            <label>Order Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Order - Search Order and Update Address {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Order - Search Order and Update Address</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GR01_Get_Order_Record</name>
        <label>GR01 : Get Order Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DC01_Check_Order_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderNo</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UR01_Update_Order_record</name>
        <label>UR01 :- Update Order record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>SucessScreen</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GR01_Get_Order_Record.OriginalOrderId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>ShippingAddress.city</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountry</field>
            <value>
                <elementReference>ShippingAddress.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>ShippingAddress.postalCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingState</field>
            <value>
                <elementReference>ShippingAddress.province</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>ShippingAddress.street</elementReference>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordUpdates>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(186, 18, 18);&quot;&gt;&lt;em&gt;{!$Flow.FaultMessage}&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Order_Not_Found_Screen</name>
        <label>Order Not Found Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>OrderNoScreen</targetReference>
        </connector>
        <fields>
            <name>dtOrderNotFound</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: verdana;&quot;&gt;&lt;u&gt;Order not found from given order no :- {!OrderNo}&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OrderInformation</name>
        <label>OrderInformation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UR01_Update_Order_record</targetReference>
        </connector>
        <fields>
            <name>OrderInformation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>OrderInformation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Order_No</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GR01_Get_Order_Record.OrderNumber</elementReference>
                    </defaultValue>
                    <fieldText>OrderNo</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Status</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GR01_Get_Order_Record.Status</elementReference>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Account</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GR01_Get_Order_Record.Account.Name</elementReference>
                    </defaultValue>
                    <fieldText>Account</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>OrderInformation_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Amount</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <elementReference>GR01_Get_Order_Record.TotalAmount</elementReference>
                    </defaultValue>
                    <fieldText>Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>OrderDate</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>GR01_Get_Order_Record.EffectiveDate</elementReference>
                    </defaultValue>
                    <fieldText>OrderDate</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CustomerInformation</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>{!GR01_Get_Order_Record.CustomerAuthorizedBy.FirstName} {!GR01_Get_Order_Record.CustomerAuthorizedBy.LastName}</stringValue>
                    </defaultValue>
                    <fieldText>CustomerInformation</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>OrderInformation_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>OrderInformation_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BillingAddress</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Billing_Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>GR01_Get_Order_Record.BillingStreet</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>GR01_Get_Order_Record.BillingState</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>GR01_Get_Order_Record.BillingCity</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>provinceCode</name>
                        <value>
                            <elementReference>GR01_Get_Order_Record.BillingStateCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>GR01_Get_Order_Record.BillingPostalCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>GR01_Get_Order_Record.BillingCountry</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>OrderInformation_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ShippingAddress</name>
                    <extensionName>flowruntime:address</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>addressLabel</name>
                        <value>
                            <stringValue>Shipping_Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>street</name>
                        <value>
                            <elementReference>GR01_Get_Order_Record.ShippingStreet</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>city</name>
                        <value>
                            <elementReference>GR01_Get_Order_Record.ShippingCity</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>province</name>
                        <value>
                            <elementReference>GR01_Get_Order_Record.ShippingState</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>provinceCode</name>
                        <value>
                            <elementReference>GR01_Get_Order_Record.ShippingStateCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>postalCode</name>
                        <value>
                            <elementReference>GR01_Get_Order_Record.ShippingPostalCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>country</name>
                        <value>
                            <elementReference>GR01_Get_Order_Record.ShippingCountry</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>countryCode</name>
                        <value>
                            <elementReference>GR01_Get_Order_Record.ShippingCountryCode</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Update Shipping Address</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>OrderNoScreen</name>
        <label>OrderNoScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GR01_Get_Order_Record</targetReference>
        </connector>
        <fields>
            <name>OrderNo</name>
            <dataType>String</dataType>
            <fieldText>OrderNo</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Search Your Order</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SucessScreen</name>
        <label>SucessScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>OrderNoScreen</targetReference>
        </connector>
        <fields>
            <name>dtSuccessMessage</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Shipping Address Updated Sucessfully!!!</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Input Another Order No</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>OrderNoScreen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
