force-app/main/default/flows/Task_Completed_Update_Opportunity_FollowUp_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_2</name>
        <label>Prepare_Opportunity_UpdateWithdescr</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityToUpdate.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOpportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prepare_Opportunity_Update</name>
        <label>Prepare_Opportunity_UpdateWuthBudget</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varOpportunityToUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityToUpdate.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varOpportunityToUpdate.Follow_Up_Budget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Follow_Up_Budget_c__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateOpportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Fields_Changed</name>
        <label>Check_If_Fields_Changed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assignment_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FollowUpBudgetChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Follow_Up_Budget_c__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Follow_Up_Budget_c__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Prepare_Opportunity_Update</targetReference>
            </connector>
            <label>FollowUpBudgetChanged</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is Relevant Field Changed?</description>
        <name>Decision_1</name>
        <label>Decision 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>OnlyDescription</defaultConnectorLabel>
        <rules>
            <name>isStatusChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Fields_Changed</targetReference>
            </connector>
            <label>isStatusChanged</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Task_Completed_Update_Opportunity_FollowUp_Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task_Completed_Update_Opportunity_FollowUp_Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updateOpportunity</name>
        <label>updateOpportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputReference>varOpportunityToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>006</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varOpportunityToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
